@using Equilibrium.Models.Repositories.Entities;
@using Equilibrium.Models.Repositories.Stores;
@using System.Globalization;
@model IEnumerable<Employee>
<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        let sortableTable = document.querySelector('#sortable-table-employees');
        Equilibrium.SortableTable.init({
            target: sortableTable
        });
    });
</script>

<div class="eq-sortable-wrapper">
    <div class="eq-sortable-filters d-flex">
        <label for="eq-sortable-prop-title">Title</label>
        <select name="eq-sortable-prop-title" id="eq-sortable-prop-title">
            <option value="null">All</option>
        </select>
        <label for="eq-sortable-prop-nationality">Nationality</label>
        <select name="eq-sortable-prop-nationality" id="eq-sortable-prop-nationality">
            <option value="null">All</option>
        </select>
        <button type="submit">Apply Filter</button>
    </div>
    <table 
    id="sortable-table-employees" 
    data-eq-sortable-options-data='@Url.Action("FilterEmployees", "Table");'>
    <thead>
        <tr>
            <th data-eq-sortable-prop="name" data-eq-sortable-sortable>Name</th>
            <th data-eq-sortable-prop="title" data-eq-sortable-sortable>Title</th>
            <th data-eq-sortable-prop="nationality">Nationality</th>
            <th data-eq-sortable-prop="dateofbirth" data-eq-sortable-sortable>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@employee.Title</td>
                <td>@employee.Nationality</td>
                <td>@employee.DateOfBirth.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)</td>
            </tr>
        }
    </tbody>
</table>
</div>
<footer class="mt-4">
    <small>
        powered by <a href="https://fakerjs.dev/">Faker</a>
    </small>
</footer>