@using Equilibrium.Models.Repositories.Entities;
@using Equilibrium.Models.Repositories.Stores;
@using System.Globalization;
@model IEnumerable<Employee>
<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        let sortableTable = document.querySelector('#sortable-table-employees');
        Equilibrium.SortableTable.init({
            target: sortableTable
        });
    });
</script>

<table 
    id="sortable-table-employees" 
    class="eq-sortable-table"
    data-eq-sortable-options-data='@Url.Action("FilterEmployees", "Table");'>
    <thead>
        <tr>
            <th data-eq-sortable-filter="FirstName,LastName" data-eq-sortable-sortable>Name</th>
            <th data-eq-sortable-filter="Title" data-eq-sortable-sortable>Title</th>
            <th data-eq-sortable-filter="Nationality">Nationality</th>
            <th data-eq-sortable-filter="DateOfBirth" data-eq-sortable-sortable>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@employee.Title</td>
                <td>@employee.Nationality</td>
                <td>@employee.DateOfBirth.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)</td>
            </tr>
        }
    </tbody>
</table>
<footer class="mt-4">
    <small>
        powered by <a href="https://fakerjs.dev/">Faker</a>
    </small>
</footer>