@using Equilibrium.Models.Repositories.Entities;
@using Equilibrium.Models.Repositories.Stores;
@using System.Globalization;
@model IEnumerable<Employee>
<script>
    Equilibrium.SortableTable.init({
        source: '@Url.Action("FilterEmployees", "Table");'
    })

    let request = fetch(
        url: Equilibrium.SortableTable.filter,
    )
</script>

<table class="eq-sortable-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Nationality</th>
            <th>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.FirstName @employee.LastName</td>
                <td>@employee.Title</td>
                <td>@employee.Nationality</td>
                <td>@employee.DateOfBirth.ToString(CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)</td>
            </tr>
        }
    </tbody>
</table>
<footer class="mt-4">
    <small>
        powered by <a href="https://fakerjs.dev/">Faker</a>
    </small>
</footer>